# Backend Environment Template

DATABASE_URL=postgresql+psycopg://USER:PASS@HOST:5432/DBNAME
APP_ENV=local

# Hugging Face model IDs
HF_MODEL_INTENT=facebook/bart-large-mnli
HF_MODEL_SENTIMENT=cardiffnlp/twitter-roberta-base-sentiment-latest

# Priority rules config
PRIORITY_RULES_PATH=./app/services/rules.yml

# Logging
LOG_LEVEL=INFO

# CORS
ALLOWED_ORIGINS=http://localhost:5173
